@import "../lib/_mixins.sass"
@import "../lib/_variables.sass"
// Correcciones: código duplicado para select e input. 
// Recomendado hacer mixins


.paper_content
    @apply flex flex-col justify-between


@media (min-width: 150px)
    .research
        display: flex
        flex-direction: column
        flex: 1

        // .filters
        //     justify-content: space-between
        // .filter
        //     display: flex
        //     flex-direction: column
        //     align-items: start

        // .main
        //     min-height: calc(100vh - 150px)
        //     padding: 5rem 0 0 0
        //     background-color: red

     

            //width: 13rem
                justify-content: flex-end
            b
                margin-left: 0.4rem
                width: 2rem

        section

            display: flex
            flex-direction: column
    .load_more
        padding-top: $spacing_md
        padding-bottom: 0
        display: flex
        justify-content: center
        button
            outline: none
            border: none
            @include button-load-more

    .filters
        text-align: left
        display: flex
        flex-wrap: wrap
        gap: 0.6rem
        padding-bottom: $spacing_sm
        margin-top: $spacing_sm
        border-bottom: solid 1px $ca-blue-200
        justify-content: space-between
        .filter
            margin: 0 0.8rem 0.8rem 0
            width: 100%
            text-align: left
            @include select
            label
                display: flex
                //min-width: 5.1rem
                //width: 100%
                padding-right: 1.6rem
                margin-bottom: 0.6rem
                line-height: 120%
                @apply text-gray-400
                font-weight: $light
                border-radius: 0
        .research_results
            display: flex
            flex-wrap: wrap
            min-height: 3rem
            align-content: center
            margin-right: 1rem
            @apply mb-8
            p
                @apply text-gray-400
                @apply bg-black px-3 py-2 rounded

    .papers
        @apply block 
        .paper
            @apply mt-2
            display: flex
            flex-direction: column
            border-bottom: $gray-600 1px solid

        .paper_main
            @apply h-full
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 1.2rem 0.8rem
            .paper_date
                p
                    // @include border-tag
                    @apply text-gray-400 pr-4 pt-[2px]
                    font-size: 1.6rem
                    font-weight: 400
                    display: block
                .gradient_bg
                    width: 4px
                    background: linear-gradient(to bottom, $ffd_green, #97ce004b, #97ce0000)
            .paper_content
                @apply flex flex-col justify-between
                height: 100%
                .button_container
                    .paper_link
                        @apply py-2 mt-2
                        &:active
                            background: $background-secondary

            .paper_title
                @apply text-ffdGreen-300

            .paper_subtitle
                //padding-bottom: $spacing_md
                @apply text-gray-100
                margin-bottom: $spacing_xsm
            .paper_doi
                font-weight: 400

        .paper_link
            @include icon-button-right
            @include link-button
            // @include button    
            // display: flex
            // flex-direction: row
            // //gap: $spacing_xsm
            // align-content: center
            // justify-content: left
            // margin-top: 0.6rem        
            // a 

            //     display: flex
            //     align-content: center
                //margin-top: $spacing_sm          

@media (min-width: 640px)
    .research
        .filters
            text-align: right
            display: flex
            flex-wrap: wrap
            gap: 1.5rem
            padding-bottom: $spacing_xl
            border-bottom: solid 1px $gray-600
            justify-content: space-between
            .filter
                // display: flex
                // flex-direction: row
                // align-items: center
                font-size: 1.3rem
                margin: 0
                //height: 42px
                width: auto
                text-align: left
                label
                    //display: inline-block
                    //margin-bottom: 0rem
                    width: 12rem
                #year_label
                    text-align: right
                input, select
                    width: 17.6rem
            .research_results
                min-height: 3rem
                margin:0
                p
                    margin-bottom: 0.6rem
    .papers
        display: flex
        flex-direction: column
        display: flex
        flex-direction: column
        //padding: $spacing_sm 0 $spacing_md 0
        .paper
            @apply mt-2
            padding: $spacing_sm 0 

        .paper_main
            @apply h-full
            display: flex
            flex-direction: row
            justify-content: left
            gap: 1.4rem
            padding: 0.4rem 0
            .paper_date
                display: flex
                .year
                    @apply px-4 
                .gradient_bg
                    width: 4px
                    background: linear-gradient(to bottom, $ffd_green, #97ce004b, #97ce0000)



            .paper_content
                width: 100%
                @apply flex flex-col justify-between

            .paper_title
                @apply text-ffdGreen-300
                font-weight: 300

            .paper_subtitle
                //padding-bottom: $spacing_md

            .paper_doi
                font-weight: 600

        .button_container
            display: flex
            justify-content: end
            .paper_link
                @include button
                display: flex
                flex-direction: row
                //gap: $spacing_xsm
                align-content: flex-end
                justify-content: flex-end
                flex-wrap: wrap
                margin: 0
                margin-right: 1.6rem
                p
                    font-weight: 600
                    margin: 0
                a
                    display: flex
@media (min-width: 768px)
    .research
    .filters
        gap: 2rem
        justify-content: space-between
        .filter
            label
                //width: auto !important
                //min-width: 6.5rem
        .research-results
            margin-top: 0
            color: $gray-100
            p
                color: $gray-100
    .papers

        .paper
            @apply mt-2

            .paper_main
                @apply h-full

                .paper_content
                    @apply flex flex-col justify-between
                    

@media (min-width: 1024px)
    .research
        // .filter
        //     label
        //         width: auto !important
        //         min-width: 6rem
        .filters
            text-align: right
            display: flex
            flex-wrap: wrap
            gap: 2rem
            margin-top:0
            padding-bottom: $spacing_xl
            border-bottom: solid 1px $gray-600
            justify-content: space-between
            .filter
                display: block
                // flex-direction: row
                align-items: center
                font-size: 1.3rem
                margin: 0
                //height: 42px
                width: auto
                text-align: left
                label
                    // display: inline-block
                    // margin-bottom: 0rem
                    // width: auto !important
                    // width: 6.2rem
            
              
                input, select
                    width:21.6rem
            #filter_year
                
        .papers

            .paper
                @apply mt-2

                .paper_main
                    @apply h-full
                    .paper_date
                        display: flex
                        p
                            @apply pt-[1px]
                        .gradient_bg
                            width: 4px
                            background: linear-gradient(to bottom, $ffd_green, #97ce004b, #97ce0000)
                     
                    .paper_content
                        @apply flex flex-col justify-between

@media (min-width: 1200px)
    .research
    .papers
        @apply grid grid-cols-2 gap_grid-r

        .paper
            @apply mt-2

            .paper_main
                @apply h-full

                .paper_content
                    @apply flex flex-col justify-between


@media (min-width: 1400px)
    .research
        .filters
            .filter
                .publicationType
                    width:10.6rem
        .papers
            .paper
                .paper_main
                    @apply h-full

                    .paper_content
                        @apply flex flex-col justify-between
@media (max-width: 640px)
    .papers
        .paper
            @apply mt-2
            .paper_main
                @apply h-full   
                .paper_date
                    display: flex

                    .gradient_bg
                        width: 4px
                        background: linear-gradient(to bottom, $ffd_green, #97ce004b, #97ce0000)
                .paper_content
                    @apply flex flex-col justify-between

                .button_container
                    display: flex
                    justify-content: start
                    .paper_link
                        @include button
                        display: flex
                        flex-direction: row
                        //gap: $spacing_xsm
                        align-content: flex-end
                        justify-content: flex-end
                        flex-wrap: wrap
                        margin: 0
                        p
                            font-weight: 600
                            margin: 0
                        a
                            display: flex
